* {
	-fx-background-color:  #1e1e1e;
	-fx-text-fill:  #fcfcfc;
    -fx-my-menu-color: #1e1e1e;                
    -fx-my-menu-color-highlighted: #303030; 
    -fx-my-menu-font-color: #fcfcfc;             
    -fx-my-menu-font-color-highlighted: #fcfcfc; 
}

.titled-pane,
.titled-pane > .anchor-pane,
.button, 
.menu-button,
.text-area,
.text-field {
	-fx-border-color: -fx-my-menu-font-color;
	-fx-text-fill:  -fx-my-menu-font-color;
}

.context-menu {
	-fx-background-color:  -fx-my-menu-color;
	-fx-text-fill:  -fx-my-menu-font-color;
}

.menu-button,
.menu-item,
.titles-pane-skin {
    -fx-background-color: -fx-my-menu-color;
}

.menu-button:hover,
.menu-button:showing,
.menu-button:hover > .label,
.menu-button:showing > .label,
.button:hover,
.button:showing,
.menu-button:hover > .arrow-button,
.menu-button:showing > .arrow-button,
.titled-pane:hover > .title,
.titled-pane:showing > .title,
.titled-pane:hover > .title > .arrow-button,
.titled-pane:showing > .title > .arrow-button,
.menu-item:focused, 
.menu-item:hovered,
.menu-item:focused .label, 
.menu-item:hovered .label {
    -fx-background-color: -fx-my-menu-color-highlighted; 
}

.menu-button > .arrow-button > .arrow,
.titled-pane > .title > .arrow-button > .arrow {
	-fx-background-color: -fx-my-menu-font-color;
}

.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}